/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.visualization-container {
  background-color: #222;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

canvas {
  border-radius: 15px;
}

.control-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

input::file-selector-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  background-color: transparent;
  color: white;
  margin-right: 10px;
  font-size: 14px;
}

.toggle-3d-btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.toggle-3d-btn:hover {
  background-color: #ff784e;
}

.padding {
  padding: 8px 12px;
}